# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Envs
.env.dev
.env.dev.*
.env.local
.env.*.local
.env
!.env.example

# Prisma generated client
generated/prisma

workers/*

tools/*